<div class="content container">

    <div class="title">
        <span>
            Log de Procedimentos
        </span>
        <span>
            <small style="float: right">Última Atualização: <b>{{lastUpdate | date: "dd/MM/yyyy HH:mm:ss" }}</b></small>
        </span>
    </div>

    <button type="button" class="btn btn-refresh" (click)="refresh()">
        <i class="fas fa-redo-alt"></i>
    </button>
    <div class="row legend">
        <span style="line-height: 35px;">
            Legenda:
        </span>
        <span style="margin-left: 10px;">
            <div class="legend-item">
                <div class="circ-bg circ-bg-green"></div>
                <span>Sucesso</span>
            </div>
            <div class="legend-item">
                <div class="circ-bg circ-bg-gray"></div>
                <span>Em Execução</span>
            </div>
            <div class="legend-item">
                <div class="circ-bg circ-bg-orange"></div>
                <span>Tempo médio excedido</span>
            </div>
            <div class="legend-item">
                <div class="circ-bg circ-bg-red"></div>
                <span>Erro</span>
            </div>
        </span>
    </div>

    <div class="form-inline justify-content-center filter-container w-100">

        <div class="col-sm-2 d-flex">
            <label>Malha:</label>
            <select class="custom-select" [(ngModel)]="malha" (ngModelChange)="onMalhaChange($event)">
                <option *ngFor="let malhaOption of malhaOptions" [value]="malhaOption?.value" placeholder=" ">
                    {{malhaOption?.info}}</option>
            </select>
        </div>

        <div class="col-sm-2 d-flex">
            <label>Sistema:</label>
            <select class="custom-select" [(ngModel)]="sistema" (ngModelChange)="onSistemaChange($event)">
                <option *ngFor="let sistemaOption of sistemaOptions" [value]="sistemaOption?.value" placeholder=" ">
                    {{sistemaOption?.info}}</option>
            </select>
        </div>

        <div class="col-sm-3 d-flex">
            <label>Status:</label>
            <select class="custom-select" [(ngModel)]="status" (ngModelChange)="onStatusChange($event)">
                <option *ngFor="let statusOption of statusOptions" [value]="statusOption?.value" placeholder=" ">
                    {{statusOption?.info}}</option>
            </select>
        </div>

        <div class="col-sm-5"></div>
    </div>

    <div class="form-inline justify-content-center filter-container w-100">

        <div class="col-sm-3 d-flex">
            <label>Nome do Procedimento:</label>
            <input type="text" class="form-control" placeholder="Nome do procedimento"
                (ngModelChange)="onNameSearchChange($event)" [(ngModel)]="nameSearchValue">
        </div>
        <div class="col-sm-3 d-flex">
            <label>Data de Início:</label>
            <input type="text" class="form-control" placeholder="Data de Início"
                (ngModelChange)="onDateSearchChange($event)" [(ngModel)]="dateSearchValue">
        </div>

        <div class="col-sm-3"></div>

        <div class="col-sm-3 d-flex">
            <label>Mostrar</label>
            <select class="custom-select" [(ngModel)]="limit" (ngModelChange)="onSelectChange($event)">
                <option *ngFor="let limitOption of limitOptions" [value]="limitOption">{{limitOption}}</option>
            </select>
            <label>entradas.</label>
        </div>
    </div>


    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col" class="">Status</th>
                <th scope="col" class="">Nome Proc</th>
                <th scope="col" class="">Malha</th>
                <th scope="col" class="">Sistema</th>
                <th scope="col" class="">Data Início</th>
                <th scope="col" class="">Data Fim</th>
                <th scope="col" class="">Tempo Execução</th>
                <th scope="col" class="">
                    <div ngbTooltip="Últimos 90 dias">Tempo Médio *</div>
                </th>
                <th scope="col" class="">Tempo Previsto</th>
                <th scope="col" class="">Gráficos</th>
                <th scope="col" class="">Mais Informações</th>
                <th scope="col" class="">Erros</th>
            </tr>
        </thead>

        <tbody class="text-center">
            <tr *ngFor="let element of procLogExecList">
                <td>
                    <div class="circ-bg" [ngClass]="{
                  'circ-bg-green': element?.status === 'S',
                  'circ-bg-red': element?.status === 'E',
                  'circ-bg-gray': element?.status === 'R',
                  'circ-bg-orange': element?.status === 'T'}">
                    </div>
                </td>
                <td class="text-name">{{element?.procAvailable?.nome}}</td>
                <td>{{element?.procAvailable?.malhaNome ? element?.procAvailable?.malhaNome : "-----" }}</td>
                <td>{{element?.procAvailable?.sistema ? element?.procAvailable?.sistema : "-----"}}</td>
                <td>{{element?.dataInicio | date: "dd/MM/yyyy HH:mm:ss"}}</td>
                <td>{{element?.dataFim ? (element?.dataFim | date: "dd/MM/yyyy HH:mm:ss") : "Executando..."}}</td>
                <td class="text-digital" [ngClass]="{'font-weight-bold': ['R','T'].includes(element?.status)}">
                    {{element?.tempoExecucao}}</td>
                <td class="text-digital">{{element?.tempoMedioDigital}}</td>
                <td class="text-digital">{{element?.procAvailable?.tempoEstimado 
                    ? (element?.procAvailable?.tempoEstimado| date: "HH:mm:ss") : "-----"}}</td>
                <td>
                    <button type="button" class="btn btn-outline-warning btn-table" (click)="openChart(chartModal, element)"
                        ngbTooltip="Ver gráficos de análise">
                        <img src="../../../../assets/images/icons/graph.svg" width="12px" height="12px">
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-info btn-table" (click)="openInfo(infoLogModal, element)"
                        ngbTooltip="Ver mais informações do procedimento">
                        <img src="../../../../assets/images/icons/file.svg" width="12px" height="12px">
                    </button>
                </td>
                <td>
                    <button *ngIf="['E','W'].includes(element?.status); else noErrorView" type="button"
                        class="btn btn-outline-danger btn-table" (click)="openErrorLog(errorLogModal, element)"
                        ngbTooltip="Ver o log de erros">
                        <img src="../../../../assets/images/icons/list.svg" width="12px" height="12px">
                    </button>
                    <ng-template #noErrorView>
                        <div style="color: green">Sem Erros</div>
                    </ng-template>
                </td>
            </tr>
        </tbody>

    </table>

    <!-- Loading -->
    <app-error-load [loadError]="boxLoadingError" [isLoading]="isBoxLoading"></app-error-load>
    <!-- Se a lista estiver vazia -->
    <app-empty-list [show]="procLogExecPagination?.totalElements === 0"></app-empty-list>

    <div class="row">

        <div class="col-sm-5 d-flex justify-content-center data-info" *ngIf="procLogExecPagination">
            <span *ngIf="procLogExecPagination?.totalElements === 0; else itemsfound">
                Nenhum resultado corresponde à pesquisa.
            </span>
            <ng-template #itemsfound>Exibindo {{(pages*limit + 1) ===
                  procLogExecPagination?.totalElements ? "procedimento" : "procedimentos"}} de
                {{pages*limit + 1}} a {{(pages*limit) + procLogExecPagination?.numberOfElements}}
                de um total de {{procLogExecPagination?.totalElements}}.
            </ng-template>
        </div>

        <div class="col">
            <ngb-pagination class="d-flex justify-content-end" [collectionSize]="pagNumberOfPages" [page]="pages + 1"
                [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="onPageChange($event)">
            </ngb-pagination>
        </div>

    </div>

    <i class="far fa-circle btn-autorefresh" (click)="enableAutoUpdate = !enableAutoUpdate"></i>

</div>

<!-- <app-chart></app-chart> -->

<!-- Modal -->
<ng-template #errorLogModal let-modals>
    <modal-error-log [ref]="errorLogModalRef" [data]="errorModalData"></modal-error-log>
</ng-template>

<ng-template #infoLogModal let-modals>
    <modal-info-log [ref]="infoLogModalRef" [data]="infoModalData"></modal-info-log>
</ng-template>

<ng-template #chartModal let-modals>
    <modal-chart [ref]="chartModalRef" [data]="chartModalData"></modal-chart>
</ng-template>


<!-- <app-modal hidden="true"></app-modal> -->