@import '../../../app.component.scss';

.container {
    max-width: 95% !important;
}

.table {
    tr:hover {
        background-color: rgb(230, 230, 230);
    }
    
    tbody td {
        padding: 5px !important;
    }
}


.btn-refresh {
    font-size: 25px;
    margin-left: 10px;
}

.btn-table{
    height: 22px !important;
    line-height: 0px !important;
    padding: 0px 10px !important;
}

.legend {
    font-size: 11px !important;
    margin-top: 0 !important;
    margin-left: 20px !important;
    margin-bottom: 20px !important;
    float: right !important;
    display: flex !important;
    .legend-item {
        display: inline-flex !important;
        margin: 10px 5px !important;
        text-align: left !important;
        line-height: 16px !important;
        .circ-bg {
            margin: 0 !important;
        }
        span {
            margin-left: 10px !important;
        }
    }
}

.text-digital {
    font-family: monospace;
    font-size: 13px;
}

.circ-bg {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 auto;
}

.circ-bg-orange {
    background-color: orange !important;
}

.circ-bg-red {
    background-color: red !important;
}

.circ-bg-green {
    background-color: green !important;
}

.circ-bg-gray {
    background-color: gray !important;
}

.circ-bg-blue {
    background-color: lightskyblue !important;
}

.btn-autorefresh {
    position: absolute;
    left: 0px;
    cursor: pointer;
    top: 0px;
    color: #d0d0d0;
}