<div class="content container">

    <div class="title">
        <span>
            Erros de Execução Agendada
        </span>
    </div>

<div *ngFor="let date of dateArr">
    <mat-expansion-panel>
        <mat-expansion-panel-header style="height: 30px !important">
            <mat-panel-title>
                {{date | date:"dd/MM/yyyy"}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
    </mat-expansion-panel>
</div>

</div>