<!-- ERROR LOG -->
<div class="modal-header">
    <h4 class="modal-title">Log de Erros</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body overflow-modal">

     <!-- Loading -->
     <app-error-load [loadError]="boxLoadingError" [isLoading]="isBoxLoading"></app-error-load>
     <!-- Se a lista estiver vazia -->
     <app-empty-list [show]="elementCount === 0"></app-empty-list>

    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col" class="">Código</th>
                <th scope="col" class="">Linha</th>
                <th scope="col" class="">Mensagem</th>
                <th scope="col" class="">Nome do Processo</th>
                <th scope="col" class="">Data e Hora do Erro</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let element of errorList" class="alert alert-danger" style="font-weight: 500;">
                <td>{{element?.codigo}}</td>
                <td>{{element?.linha}}</td>
                <td style="white-space: pre-wrap;">
                    <app-show-more [text]="element?.mensagem" charMax="200"></app-show-more>
                </td>
                <td style="text-transform: uppercase">{{data?.procAvailable?.nome}}</td>
                <td>{{element?.criadoEm | date: "dd/MM/yyyy HH:mm:ss"}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Fechar</button>
</div>
<!-- ERROR LOG -->