$fontSize: 12px;

.modalErrorSize .modal-dialog {
    max-width: 85% !important;
  }
.modalGraphSize .modal-dialog {
  max-width: 95% !important;
}

table {
  font-size: $fontSize;
} 

.break__word {
  word-wrap: break-word;
}

.info__log {
  font-size: $fontSize;
  p {
    margin-bottom: 0.5rem !important;
  }
}

.text__name {
  font-family: inherit;
  text-transform: uppercase;
  font-size: $fontSize - 1;
  font-weight: bold;
}

.overflow__modal {
  max-height: 70vh;
  overflow: auto;
}

.graph-top {
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #5f9ea0;
  border-top: 1px solid #5f9ea0;
  padding-bottom: 10px;
  .graph-top__title {
    display: block;
    font-size: 20px;
    font-weight: 400;
  }
  .graph-top__body {
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    margin: 0 auto;
    max-width: 50%;
    background-color: #5f9ea0;
    border-radius: 3%;
    color: white;
  }
}

.chart-zoom-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: $fontSize;
  background: none;
  color: #818182;
}