<div class="container dashboard-content">
  <div class="text-center dashboard-title">DASHBOARD</div>

  <div class="row">
    <div class="col-sm-2">
      <div class="row info-box dashboard-box">
          <span class="info-box-number">1009</span>
          <span class="info-box-text">Total de Execuções - Últimos 30 dias</span>
      </div>
      <div class="row info-box dashboard-box">
          <span class="info-box-number">1009</span>
          <span class="info-box-text">Total de Execuções - Últimos 30 dias</span>
      </div>
    </div>

    <div class="col-sm-4 dashboard-box">
      <app-chart [chart]="chart1"></app-chart>
    </div>

    <div class="col-sm-4 dashboard-box">
      <app-chart [chart]="chart2"></app-chart>
    </div>

    <div class="col-sm-2">
      <div class="row info-box dashboard-box">
          <span class="info-box-number">1009</span>
          <span class="info-box-text">Total de Execuções - Últimos 30 dias</span>
      </div>
      <div class="row info-box dashboard-box">
          <span class="info-box-number">1009</span>
          <span class="info-box-text">Total de Execuções - Últimos 30 dias</span>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-2">
      <div class="row info-box dashboard-box">
        <span class="info-box-number">1009</span>
        <span class="info-box-text">Total de Execuções - Últimos 30 dias</span>
      </div>
      <div class="row info-box dashboard-box">
          <span class="info-box-number">1009</span>
          <span class="info-box-text">Total de Execuções - Últimos 30 dias</span>
      </div>
    </div>

    <div class="col-sm-4 dashboard-box">
      <app-chart [chart]="chart3"></app-chart>
    </div>

    <div class="col-sm-3 dashboard-box">
      <app-chart [chart]="chart4"></app-chart>
    </div>

    <div class="col-sm-3 dashboard-box">
      <app-chart [chart]="chart5"></app-chart>
    </div>

  </div>

</div>