@import '../../../app.component.scss';

$borderWidth: 15px;
$chartHeight: 350px;
$bgColor: #edf0ff;

.dashboard-content {
    background-color: $bgColor;
    height: 105%;
    max-width: 100% !important;
    padding: 0% $borderWidth !important;

    .dashboard-title {
        font-family: cursive;
        font-size: 25px;
        position: absolute;
        top: 10px;
        left: 35%;
        color: darkblue;
    }

    .row {
        max-height: $chartHeight + 4*$borderWidth !important;
    }

    .dashboard-box {
        background-color: white;
        border: $borderWidth solid  $bgColor;
        border-radius: 2vw;
    }

    .info-box {
        padding: 25px 0;
        height: $chartHeight/2 + $borderWidth;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .info-box-number {
            font-weight: bold;
            font-size: 40px
        }
        .info-box-text {
           
        }
    }
}

.highcharts-container, .highcharts-container svg {
    max-height: none !important;
    height: $chartHeight !important;
  }
