
$fontSize: 12px;

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 3%;
}

.table {
    font-size: $fontSize;
    td {
        vertical-align: middle;
    }
 }
 
.text-name {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.title {
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
}

.data-info {
    line-height: 40px;
    color: #4d4d4d;
    font-size: $fontSize - 1px;
}

.filter-container {
    font-size: $fontSize;
    margin-bottom: 15px;
    input, select {
        font-size: $fontSize;
    }
    label {
        height: calc(2rem + 2px);
        margin: 0 10px;
    }
}

.btn-table{
    height: 30px;
    line-height: 14px;
    padding: 3px 10px !important;
    :hover img {
        filter: brightness(0) invert(1);
    }
}

