<!-- INFO LOG -->
<div class="modal-header">
    <h6 class="modal-title">Informações do Procedimento
        <b class="text__name">[{{procedureData?.nome}}]</b>
    </h6>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body overflow__modal">
    <div class="info__log">
        <p class="break__word">Nome: <b class="text__name">{{procedureData?.nome}}</b></p>
        <p class="break__word">Banco: <b>{{procedureData?.banco}}</b></p>
        <p class="break__word">Malha: <b>{{procedureData?.malhaNome}}</b></p>
        <p class="break__word">Sistema: <b>{{procedureData?.sistema}}</b></p>
        <p class="break__word">Descrição: <b>
                <app-show-more [text]="procedureData?.descricao" charMax="200"></app-show-more>
            </b></p>
        <p class="break__word">Criticidade: <b>{{procedureData?.criticidade}}</b></p>
        <p class="break__word">Fechamento: <b>{{procedureData?.fechamento}}</b></p>

        <p class="break__word">Período de Agendamento: <b>{{procedureData?.periodicidade}}</b></p>
        <p class="break__word">Dia de Execução: <b>{{procedureData?.diaInicio ? procedureData?.diaInicio : "-----"}}</b>
        </p>

        <p class="break__word">Horário de Execução:
            <b>{{procedureData?.horaInicio ? (procedureData?.horaInicio | date: "HH'h'mm") : "-----"}}</b></p>
        <p class="break__word">Tempo Médio de Execução: <b>{{procedureData?.tempoMedioDigital}}</b></p>
        <p class="break__word">Tempo Previsto de Execução: <b>{{procedureData?.tempoEstimado | date: "HH:mm:ss"}}</b></p>
        <p class="break__word">procedureData da Última Execução:
            <b>{{procedureData?.ultimaExecucao | date: "dd/MM/yyyy HH:mm:ss"}}</b>
        </p>
        <p class="break__word">Observações: <b>
                <app-show-more [text]="procedureData?.observacao" charMax="200"></app-show-more>
            </b></p>
        <p class="break__word">procedureData de Criação: <b>{{procedureData?.criadoEm | date: "dd/MM/yyyy HH:mm:ss"}}</b>
        </p>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close()">Fechar</button>
</div>
<!-- INFO LOG -->