@import '../../../app.component.scss';

.mat-expansion-panel {
    margin: 20px 0;
}

.mat-expansion-panel-header {
    height: 60px !important;
}

.mat-expansion-panel-header-title {
    flex-grow: 0.5;
    align-items: center;
    font-weight: bold;
}

.mat-expansion-panel-header-description {
    display: flex;
    font-size: 10px;
    max-width: 65%;
    flex-grow: 0.5;
    margin-right: 13px;
}


