header {
    height: 58px;
    max-height: 58px;
 }
 .btn-header {
    line-height: 58px;
 }
 .btn-header button {
    margin: 0px 15px;
 }
 .logo {
    max-height: 50px;
    text-align: center;
    line-height: 49px;
    border-style: none!important;
 }
 .header-bg {
    background-image: url('../../../../assets/images/header_bg.png');
    background-position: center top;
    background-repeat: repeat-x;
    background-size: auto 100%;
    margin: 0 !important;
 }
