<header>
  <div class="row header-bg">
      <div class="col-sm-3 logo">
              <img src="../../../../assets/images/stefanini-logo.png" height="36px">
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-6 btn-header">
          <button type="button" class="btn btn-success" [routerLink]="['/home']">Home</button>
          <button type="button" class="btn btn-primary" [routerLink]="['/proclog']">Log de Execuções</button>
          <button type="button" class="btn btn-secondary" [routerLink]="['/agendreg']">Erros de Agendamento</button>
          <button type="button" class="btn btn-info" [routerLink]="['/runbook']">Run Book</button>
      </div>
  </div>

</header>