/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.modalErrorSize .modal-dialog {
    max-width: 85% !important;
  }
.modalGraphSize .modal-dialog {
  max-width: 95% !important;
}
.highcharts-container, .highcharts-container svg {
  display: block;
  width: 100% !important;
  max-height: 375px;
}
