<!-- GRAPH -->
<div class="modal-body text-center overflow-modal" style="max-height: 95vh">
    <div class="modal-header">
        <h4 class="modal-title" style="font-size: 22px">
            Estatísticas do Procedimento
            <b style="text-transform: uppercase">({{data?.nome}})</b>
            - Últimos 90 dias
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

     <!-- Loading -->
     <app-error-load [loadError]="boxLoadingError" [isLoading]="isBoxLoading"></app-error-load>

        <div *ngIf="elementCount === 0">
            Não é possível gerar as estatítiscas do procedimento <b>{{data?.nome}}</b>,
            pois este ainda não foi executado.
        </div>

     <div *ngIf="elementCount > 0">
         <div class="row graph-top">
             <div class="col-sm-4">
                 <span class="graph-top__title">Tempo Médio Total:</span>
                 <span class="graph-top__body">{{tempoMedio}}</span>
             </div>
             <div class="col-sm-4">
                 <span class="graph-top__title">Total de Execuções:</span>
                 <span class="graph-top__body">{{numExec}}</span>
             </div>
             <div class="col-sm-4">
                 <span class="graph-top__title">Disponibilidade Total:</span>
                 <span class="graph-top__body">{{disponibilidade}}%</span>
             </div>
         </div>
     
         <div class="row" style="padding-top: 10px;">
             <div class="col-sm-6">
                 <app-chart [chart]="chartExec"></app-chart>
             </div>
             <div class="col-sm-6">
                 <app-chart [chart]="chartError"></app-chart>
             </div>
             <p class="chart-zoom-info">Selecione uma área do gráfico para dar Zoom</p>
         </div>
     </div>
</div>
<!-- GRAPH -->