<div class="content container">

    <div class="title">Run Book</div>


    <div class="form-inline justify-content-center filter-container w-100">

        <div class="col-sm-2 d-flex">
            <label>Malha:</label>
            <select class="custom-select" [(ngModel)]="malha" (ngModelChange)="onMalhaChange($event)">
                <option *ngFor="let malhaOption of malhaOptions" [value]="malhaOption?.value" placeholder=" ">
                    {{malhaOption?.info}}</option>
            </select>
        </div>

        <div class="col-sm-2 d-flex">
            <label>Sistema:</label>
            <select class="custom-select" [(ngModel)]="sistema" (ngModelChange)="onSistemaChange($event)">
                <option *ngFor="let sistemaOption of sistemaOptions" [value]="sistemaOption?.value" placeholder=" ">
                    {{sistemaOption?.info}}</option>
            </select>
        </div>

        <div class="col-sm-4 d-flex">
            <label>Nome do Procedimento:</label>
            <input type="text" class="form-control" placeholder="Nome do procedimento"
                (ngModelChange)="onNameSearchChange($event)" [(ngModel)]="nameSearchValue">
        </div>

        <div class="col-sm-4">
            <button type="button" class="btn btn-outline-success btn-table float-right"
                (click)="exportAllToExcel()" ngbTooltip="Exportar todos para Excel">
                <img src="../../../../assets/images/icons/excel.svg" width="18px" height="18px">
            </button>
        </div>
    </div>

    <!-- Loading -->
    <app-error-load [loadError]="boxLoadingError" [isLoading]="isBoxLoading"></app-error-load>

    <div *ngFor="let m of malhas; let i = index">
        <app-dropdown-box *ngIf="[null, m.nome].includes(filtro.malhaSearch)" [title]="m.nome"
            [description]="m.descricao" [bgColor]="getColor(i)">
            <button type="button" class="btn btn-outline-success btn-table float-right"
                (click)="exportToExcel(proceduresFromMalhas[m.nome], m.nome)" ngbTooltip="Exportar para Excel">
                <img src="../../../../assets/images/icons/excel.svg" width="15px" height="15px">
            </button>
            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th scope="col" class="">Nome</th>
                        <th scope="col" class="">Banco</th>
                        <th scope="col" class="">Sistema</th>
                        <th scope="col" class="">Descrição</th>
                        <th scope="col" class="">Criticidade</th>
                        <th scope="col" class="">Fechamento</th>
                        <th scope="col" class="">Gráficos</th>
                        <th scope="col" class="">Periodicidade</th>
                        <th scope="col" class="">Dia de Execução/Início</th>
                        <th scope="col" class="">Hora de Execução</th>
                        <th scope="col" class="">Tempo Médio</th>
                        <th scope="col" class="">Tempo Previsto</th>
                        <th scope="col" class="">Última Execução</th>
                        <th scope="col" class="">Observações</th>
                        <th scope="col" class="">Data da Criação</th>
                    </tr>
                </thead>

                <tbody class="text-center">
                    <tr *ngFor="let element of proceduresFromMalhas[m.nome]">
                        <td class="text-name">{{element?.nome}}</td>
                        <td>{{element?.banco}}</td>
                        <td>{{element?.sistema}}</td>
                        <td style="white-space: normal; min-width: 200px;">
                            <app-show-more [text]="element?.descricao" charMax="60"></app-show-more>
                        </td>
                        <td>{{element?.criticidade}}</td>
                        <td>{{element?.fechamento}}</td>
                        <td>
                            <button type="button" class="btn btn-outline-warning btn-table" (click)="openChart(chartModal, element)"
                                ngbTooltip="Ver gráficos de análise">
                                <img src="../../../../assets/images/icons/graph.svg" width="16px" height="16px">
                            </button>
                        </td>
                        <td>{{element?.periodicidade}}</td>
                        <td>{{element?.diaInicio ? body?.diaInicio : "-----"}}</td>
                        <td>{{element?.horaInicio | date: "HH'h'mm"}}</td>
                        <td>{{element?.tempoMedioDigital ? element?.tempoMedioDigital : "-----"}}</td>
                        <td>{{element?.tempoEstimado | date: "HH:mm:ss"}}</td>
                        <td>{{element?.ultimaExecucao ? (element?.ultimaExecucao | date: "dd/MM/yyyy HH:mm:ss") : "-----"}}</td>
                        <td style="white-space: normal; min-width: 200px;">
                            <app-show-more [text]="element?.observacao" charMax="50"></app-show-more>
                        </td>
                        <td>{{element?.criadoEm | date: "dd/MM/yyyy HH:mm:ss"}}</td>
                    </tr>
                </tbody>
            </table>
        </app-dropdown-box>
    </div>

</div>

<!-- Modal -->
<ng-template #chartModal let-modals>
        <modal-chart [ref]="chartModalRef" [data]="chartModalData"></modal-chart>
</ng-template>