@import '../../../app.component.scss';

table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    tbody td {
        padding: 2px 10px !important;
    }
}

.table-container {
    max-width: 95% !important;
}


